<aside>
    <nav>
        
        <p><a href="/"{% unless page.title %} class="active"{% endunless %}>Aprenda Go Interativamente</a></p>
        <ol>
            {% assign i = 0 %}
            {% for lesson in site.lessons %}
                {% if lesson.title == 'Jogos entre Fan Hui(2p) e AlphaGo' %}
                    <br />
                    <p><strong><a href="/fanhui-alphago"{% unless page.title %} class="active"{% endunless %}>Partidas do Alphago</a></strong></p>
        </ol>
        <ol>

                {% endif %}
                {% if lesson.title == 'O que &eacute; Go' %}
                    <br />
                    <p><strong><a href="/o-que-e-go"{% unless page.title %} class="active"{% endunless %}>Teoria do Go</a></strong></p>

        </ol>
        <ol>
        

                {% endif %}
                <li>{% lesson_link lesson %}</li>
                
            {% endfor %}
        </ol>
    </nav>
</aside>