<section class="bottom-navigation">
  {{if isset .Params "previous" }}
  <p class="prev_lesson">
    <a href="/{{.Params.previous}}" class="button">Previous</a>
  </p>
  {{end}}

  {{if isset .Params "next" }}
  
  <p class="next_lesson">
    <a href="/{{.Params.next}}" class="button">
      {{if (not (isset .Params "previous"))}}
      Start
      {{else}}
      Next
      {{end}}
    </a>
  {{end}}
  </p>
</section>
<section class="bottom-navigation">
  <p>We will no longer show ads in this site.</p><p>
    If you really like this site please <a href="https://buymeacoffee.com/jLHyxulb4">Buy me a coffee</a> or donate any BTC amount at</p>
    <img src="img/qr.png" width="100px" height="100px" title="bitcoin:3HrHVv1ZgoaSkaVJvj2aXsZDYkhJqe2TBA"/>
    <p class="copyAddrBtnb" title="Copy BTC address">3HrHVv1ZgoaSkaVJvj2aXsZDYkhJqe2TBA <svg viewBox="0 0 384 512" class="svgBtn" height="14px" selectable="1" width="14px"><path d="M384 112v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h80c0-35.29 28.71-64 64-64s64 28.71 64 64h80c26.51 0 48 21.49 48 48zM192 40c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24m96 114v-20a6 6 0 0 0-6-6H102a6 6 0 0 0-6 6v20a6 6 0 0 0 6 6h180a6 6 0 0 0 6-6z"></path></svg></p>
    <p id="copiedb">BTC address copied!</p>
    <hr /> 
  <a href="/site-policy/">Site Policy</a></p>
</section>
</article>

<script src="/js/goHowToPlay.js"></script>