<section class="bottom-navigation">
  {{if isset .Params "previous" }}
  <p class="prev_lesson">
    <a href="/{{.Params.previous}}" class="button">Anterior</a>
  </p>
  {{end}}

  {{if isset .Params "next" }}
  
  <p class="next_lesson">
    <a href="/{{.Params.next}}" class="button">
      {{if (not (isset .Params "previous"))}}
      Início
      {{else}}
      Próximo
      {{end}}
    </a>
  {{end}}
  </p>
</section>
<section class="bottom-navigation">
  <p>Não exibiremos mais anúncios para não atrapalhar a usabilidade do site.</p>
  <p>Então, se você gostou muito, me ajude a manter o site com qualquer quantia para a chave PIX <strong>go@alami.no</strong> ou no QR Code abaixo:</p><p>
    {{ $asset := resources.Get "/qr_pix.png" }}
{{ $img := $asset.Fit "300x200" }}
<figure class="image is-3by2">
  <img alt="QR Code PIX" src="{{ $img.RelPermalink }}" />
</figure>
<p>
  Tips em BTC via Lightning: <a href="https://getalby.com/p/ricalamino">⚡️ricalamino@getalby.com</a>
  </p>    
<hr /> 
    
<a href="/politica-do-site/">Política do Site</a></p>
</section>
</article>