<section class="bottom-navigation">
  {{if isset .Params "previous" }}
  <p class="prev_lesson">
    <a href="/{{.Params.previous}}" class="button">Anterior</a>
  </p>
  {{end}}

  {{if isset .Params "next" }}
  
  <p class="next_lesson">
    <a href="/{{.Params.next}}" class="button">
      {{if (not (isset .Params "previous"))}}
      Início
      {{else}}
      Próximo
      {{end}}
    </a>
  {{end}}
  </p>
</section>
<section class="footer-donation">
  <div class="donation-footer-card">
    <div class="donation-footer-content">
      <h3>Apoie o Baduk.com.br</h3>
      <p>Este site é mantido gratuitamente. Sua doação ajuda a remover propagandas e melhorar o conteúdo!</p>
      <a href="/doacao" class="btn btn-donation-footer">Fazer doação</a>
    </div>
  </div>
</section>

        <section class="bottom-navigation">
          <div class="footer-links">
            <p>
              <strong>Contato:</strong>
              <a href="https://api.whatsapp.com/send?phone=5511982657606&text=Ricardo" target="_blank">WhatsApp</a> |
              <a href="/politica-do-site/">Política do Site</a>
            </p>
          </div>

        </section>
</article>
