  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3WHTW1K03P"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3WHTW1K03P');
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5a8b3084d7591465c707cf7b/1fe1s8beh';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
  <!--End of Tawk.to Script-->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{ with .Params.robotsdisallow }}<meta name="robots" content="noindex, nofollow, noarchive">{{ else }}<meta name="robots" content="index, follow, archive">{{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="lightning" content="lnurlp:ricalamino@getalby.com"/>
    <meta property="og:image" content="https://www.bitcointogo.xyz/profileimage.png" />
    <title>{{ .Site.Title }} - {{ .Title }}</title>
    <script src="/js/wgo.js"></script>
    <script src="/js/goBaduk.js"></script>
    <link rel="stylesheet" href="/css/wgo.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Galdeano"
      rel="stylesheet"
    />

  </head>
