  <head>    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7B0LFH1N0X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7B0LFH1N0X');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{ with .Params.robotsdisallow }}<meta name="robots" content="noindex, nofollow, noarchive">{{ else }}<meta name="robots" content="index, follow, archive">{{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Site.Title }} - {{ .Title }}</title>
    <script src="/js/wgo.js"></script>
    <script src="/js/goBaduk.js"></script>
    <link rel="stylesheet" href="/css/wgo.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Galdeano"
      rel="stylesheet"
    />

  </head>
