<header>
  <h1>
    Aprenda a Jogar Go Interativamente (<strong>Baduk</strong> ou Weiqi)
  </h1>
</header>
<aside>
  <nav>
    <p><a href="/">Aprenda Go Interativamente</a></p>
    <ol>
      <li>
        <a href="{{ .RelPermalink }}" class="active"
          >{{ .Name }}</a
        >
      </li>
      <li><a href="/problemas-de-50-kyu/">Problemas de 50 Kyu</a></li>
      <li><a href="/problemas-de-49-kyu/">Problemas de 49 Kyu</a></li>
      <li><a href="/problemas-de-48-kyu/">Problemas de 48 kyu</a></li>
      <li>
        <a href="/um-momento-de-descanso/">Um momento de descanso</a>
      </li>
      <li>
        <a href="/problemas-de-47-kyu-atari-duplo/"
          >Problemas de 47 kyu - atari duplo</a
        >
      </li>
      <li><a href="/movimentos-ilegais/">Movimentos ilegais</a></li>
      <li><a href="/problemas-de-46-kyu/">Problemas de 46 kyu</a></li>
      <li>
        <a href="/problemas-de-45-kyu-escada/"
          >Problemas de 45 kyu - Escada</a
        >
      </li>
      <li>
        <a href="/fazendo-dois-olhos/"
          >Pedras que não podem ser capturadas - Fazendo 2 olhos!</a
        >
      </li>
      <li><a href="/problemas-de-44-kyu/">Problemas de 44 kyu</a></li>
      <li><a href="/problemas-de-43-kyu/">Problemas de 43 kyu</a></li>
      <li><a href="/problemas-de-42-kyu/">Problemas de 42 kyu</a></li>
      <li><a href="/ko-eternidade/">Ko (eternidade)</a></li>
      <li><a href="/problemas-de-40-kyu/">Problemas de 40 kyu</a></li>
      <li><a href="/problemas-de-39-kyu/">Problemas de 39 kyu</a></li>
      <li>
        <a href="/problemas-de-38-kyu-luta-no-canto/"
          >Problemas de 38 kyu - Luta no canto</a
        >
      </li>
      <li><a href="/problemas-de-37-kyu/">Problemas de 37 kyu</a></li>
      <li><a href="/como-comecar/">Como começar?</a></li>
      <li><a href="/comecando/">Começando</a></li>
      <li><a href="/problemas-de-36-kyu/">Problemas de 36 kyu</a></li>
      <li><a href="/fim-do-jogo/">Fim do jogo</a></li>
      <li><a href="/fim-do-jogo-2/">Fim do jogo - Parte 2</a></li>
      <li><a href="/corte/">Corte</a></li>
      <li><a href="/defesa/">Defesa</a></li>
      <li><a href="/um-ponto-acima/">Um Ponto Acima</a></li>
      <li><a href="/mais-sobre-pulos/">Mais sobre pulos</a></li>
      <li>
        <a href="/aproximando-o-fim-do-jogo/"
          >Aproximando-se do fim do jogo</a
        >
      </li>
      <li><a href="/use-seu-instinto/">Use seu instinto!</a></li>
      <li><a href="/jogos-exemplo/">Jogos de exemplo</a></li>
      <li><a href="/komi/">Komi</a></li>
      <li><a href="/epilogo/">Epílogo</a></li>
      <br />
      <p>
        <strong><a href="/fanhui-alphago">Partidas do Alphago</a></strong>
      </p>
    </ol>
    <ol>
      <li>
        <a href="/fanhui-alphago/">Jogos entre Fan Hui(2p) e AlphaGo</a>
      </li>
      <li>
        <a href="/kejie-alphago/">Jogos entre Ke Jie (9p) e AlphaGo</a>
      </li>
      <li>
        <a href="/leesedol-alphago/"
          >Jogos entre Lee Sedol (9p) e AlphaGo</a
        >
      </li>
      <br />
      <p>
        <strong><a href="/o-que-e-go">Teoria do Go</a></strong>
      </p>
    </ol>
    <ol>
      <li><a href="/o-que-e-go/">O que é Go</a></li>
      <li><a href="/equipamento/">Equipamento</a></li>
      <li><a href="/regras-basicas/">Regras básicas</a></li>
      <li><a href="/tecnicas-basicas/">Técnicas básicas</a></li>
      <li><a href="/jogo-exemplo/">Jogo exemplo</a></li>
    </ol>
  </nav>
</aside>

<section class="title">
  <h2>{{ .Name }}</h2>
</section>

{{ partial "topnavigation.html" . }}


