<aside>

  {{ if .IsTranslated }}
    <nav class="LangNav">
    {{ range .Translations }}
      <a href="https://baduk.com.br">Portuguese</a>
    {{ end}}
    </nav>
  {{ end }}
  <nav>
    {{ $currentPage := . }}
   

    <p>{{ with .Site.Params.classes.name }}{{.}}{{ end }}</p>
    <ol>

      
      {{ range $.Site.Menus.main }}

      <li>
        <a href="{{ .URL | markdownify}}" 
        {{ if $currentPage.IsMenuCurrent "main" . }} 
        class="active" 
        {{ end }} 
          >{{ .Title }}</a
        >
      </li>

      {{ end }}

    </ol>
      
    <br />
    <p>{{ with .Site.Params.tsumego.name }}{{.}}{{ end }}</p>
        
    <ol>


      {{ range $.Site.Menus.tsumego }}

      <li>
        <a href="{{ .URL | markdownify}}" 
        {{ if $currentPage.IsMenuCurrent "tsumego" . }} 
        class="active" 
        {{ end }} 
          >{{ .Title }}</a
        >
      </li>

      {{ end }}
    </ol>

    <br /> 

      
    <p>{{ with .Site.Params.matches.name }}{{.}}{{ end }}</p>
      
    
    <ol>

      {{ range $.Site.Menus.matches }}

      <li>
        <a href="{{ .URL | markdownify}}" 
        {{ if $currentPage.IsMenuCurrent "matches" . }} 
        class="active" 
        {{ end }} 
          >{{ .Title }}</a
        >
      </li>

      {{ end }}
    </ol>  
    
    <br />     
    
    <p>{{ with .Site.Params.theory.name }}{{.}}{{ end }}</p>
    
    <ol>


      {{ range $.Site.Menus.theory }}

      <li>
        <a href="{{ .URL | markdownify}}" 
        {{ if $currentPage.IsMenuCurrent "theory" . }} 
        class="active" 
        {{ end }} 
          >{{ .Title }}</a
        >
      </li>

      {{ end }}
    </ol>

    <br />      
      
  </nav>
  <nav>
    <p>Help me keeping this site</p>
    <p><a href="https://buymeacoffee.com/jLHyxulb4">Buy me a coffee</a> or</p>
    <p><img src="/img/qr.png" width="100px" height="100px" alt="3HrHVv1ZgoaSkaVJvj2aXsZDYkhJqe2TBA" title="BTC donations at 3HrHVv1ZgoaSkaVJvj2aXsZDYkhJqe2TBA"/></p>
    <p class="copyAddrBtn" title="Copy BTC address">3HrHVv1ZgoaSkaVJvj2aXsZDYkhJqe2TBA <svg viewBox="0 0 384 512" class="svgBtn" height="14px" selectable="1" width="14px"><path d="M384 112v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h80c0-35.29 28.71-64 64-64s64 28.71 64 64h80c26.51 0 48 21.49 48 48zM192 40c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24m96 114v-20a6 6 0 0 0-6-6H102a6 6 0 0 0-6 6v20a6 6 0 0 0 6 6h180a6 6 0 0 0 6-6z"></path></svg></p>
    <p id="copied">BTC address copied!</p>
  </nav>
</aside>