<aside>
  <nav>
    {{ $currentPage := . }}
   

    <p>{{ with .Site.Params.classes.name }}{{.}}{{ end }}</p>
    <ol>

      
      {{ range $.Site.Menus.main }}

      <li>
        <a href="{{ .URL | markdownify}}" 
        {{ if $currentPage.IsMenuCurrent "main" . }} 
        class="active" 
        {{ end }} 
          >{{ .Title }}</a
        >
      </li>

      {{ end }}

    </ol>
      
    <br />
    <p>{{ with .Site.Params.tsumego.name }}{{.}}{{ end }}</p>
        
    <ol>


      {{ range $.Site.Menus.tsumego }}

      <li>
        <a href="{{ .URL | markdownify}}" 
        {{ if $currentPage.IsMenuCurrent "tsumego" . }} 
        class="active" 
        {{ end }} 
          >{{ .Title }}</a
        >
      </li>

      {{ end }}
    </ol>

    <br /> 

      
    <p>{{ with .Site.Params.matches.name }}{{.}}{{ end }}</p>
      
    
    <ol>

      {{ range $.Site.Menus.matches }}

      <li>
        <a href="{{ .URL | markdownify}}" 
        {{ if $currentPage.IsMenuCurrent "matches" . }} 
        class="active" 
        {{ end }} 
          >{{ .Title }}</a
        >
      </li>

      {{ end }}
    </ol>  
    
    <br />     
    
    <p>{{ with .Site.Params.theory.name }}{{.}}{{ end }}</p>
    
    <ol>


      {{ range $.Site.Menus.theory }}

      <li>
        <a href="{{ .URL | markdownify}}" 
        {{ if $currentPage.IsMenuCurrent "theory" . }} 
        class="active" 
        {{ end }} 
          >{{ .Title }}</a
        >
      </li>

      {{ end }}
    </ol>

    <br />      
      
  </nav>
  <nav>
  <p>
    Tips em BTC via Lightning: <a href="https://www.lnurlpay.com/ala@primal.net">⚡️ala@primal.net</a>
    </p>  
  </nav>
</aside>