
<section class="top-navigation">
  <select class="lesson-selector" aria-label="Menu">
    {{ $currentPage := . }}
    <optgroup label="{{ with .Site.Params.classes.name }}{{.}}{{ end }}">
     
      {{ range $.Site.Menus.main }}
      

        <option value="{{ .URL | markdownify}}" 
        {{ if $currentPage.IsMenuCurrent "main" . }} 
        selected="true" 
        {{ end }} 
        >
          {{ .Title | markdownify}}
        </option>

      {{ end }}
    </optgroup>

    <optgroup label="{{ with .Site.Params.matches.name }}{{.}}{{ end }}">
      


      {{ range $.Site.Menus.matches }}
      

        <option value="{{ .URL | markdownify}}" 
        {{ if $currentPage.IsMenuCurrent "main" . }} 
        selected="true" 
        {{ end }} 
        >
          {{ .Title | markdownify}}
        </option>

      {{ end }}
    </optgroup>

    <optgroup label="{{ with .Site.Params.theory.name }}{{.}}{{ end }}">
      


      {{ range $.Site.Menus.theory }}
      

        <option value="{{ .URL | markdownify}}" 
        {{ if $currentPage.IsMenuCurrent "main" . }} 
        selected="true" 
        {{ end }} 
        >
          {{ .Title | markdownify}}
        </option>

      {{ end }}
    </optgroup>


  </select>
</section>