
<section class="top-navigation">
  <select class="lesson-selector" aria-label="Menu">

    <optgroup label="{{ with .Site.Params.classes.name }}{{.}}{{ end }}">
      <option value="/">Introdução</option>


      {{ range $.Site.Data.classes }}

        <option value="/{{ .url | markdownify}}">
          {{ .name | markdownify}}
        </option>

      {{ end }}
    </optgroup>

    <optgroup label="{{ with .Site.Params.matches.name }}{{.}}{{ end }}">
      <option value="/">Partidas do AlphaGo</option>


      {{ range $.Site.Data.matches }}

        <option value="/{{ .url | markdownify}}">
          {{ .name | markdownify}}
        </option>

      {{ end }}
    </optgroup>

    <optgroup label="{{ with .Site.Params.theory.name }}{{.}}{{ end }}">
      <option value="/">Teoria do Go</option>


      {{ range $.Site.Data.theory }}

        <option value="/{{ .url | markdownify}}">
          {{ .name | markdownify}}
        </option>

      {{ end }}
    </optgroup>


  </select>
</section>