<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-870456-16"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-870456-16');
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1641452063803045",
            enable_page_level_ads: true
        });
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ site.title | append: ' - ' | append: page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Galdeano" rel="stylesheet">

    {% asset main.css %}
    {% asset wgo.player.css %}
    {% asset wgo.js %}
    {% asset main.js %}
</head>

<body>
<div class="wrapper">

    <header>
        <h1>Aprenda a Jogar Go Interativamente (<strong>Baduk</strong> ou Weiqi)</h1>
    </header>

    {% include side.html %}

    <article id="content">

        {% if page.title %}
        <section class="title">
            <h2>{{ page.title }}</h2>
        </section>
        {% endif %}

        <section class="top-navigation">
            {% include select.html %}
        </section>

        {{ content }}

        {% if page.prev_lesson or page.next_lesson %}
        <section class="bottom-navigation">
            <p class="prev_lesson">
                {% if page.prev_lesson %}
                    {% lesson_button page.prev_lesson Anterior %}
                {% else %}
                    <a href="/" class="button">Introdu&ccedil;&atilde;o</a>
                {% endif %}
            </p>

            {% if page.next_lesson %}
            <p class="next_lesson">
                {% lesson_button page.next_lesson Pr&oacute;ximo %}
            </p>
            {% endif %}
        </section>
        {% endif %}
    </article>
 
</div>

</body>
</html>
