
  {{$sgfFile := .Get "sgf"}}
  
  <div class="sgf freeplay" data-sgf="{{ readFile  $sgfFile }}">
    <div class="board">Para utilizar nossos problemas interativos você deve ativar JavaScript.</div>
  
  <div class="description">
    <p>
      {{
      .Get "description" | safeHTML
      }}
    </p>
  </div>
  <div class="comments"></div>
  <div class="status">
    <p>Black turn.</p>
    <a class="back button">Back</a>
    <a class="reset button">Restart</a>
  </div>
    
  </div>
